<div class="submenu-root">
  
  <div class="submenu-title">
    <h2>Users</h2>
  </div>

  <div class="submenu-content">

    <menu-item title="Create User">
      <form [formGroup]="new_user_form"
            (ngSubmit)="new_user_form.valid && open_modal('create')"
            (click)="create_user_clear_msg()">

            <div class="form-group">
          <label>Username</label>
          <input formControlName="username" class="form-control">
          
          <label>Email Address</label>
          <input formControlName="email" class="form-control">
          
          <label>Password</label>
          <input formControlName="password" class="form-control">
          
          <button
            [disabled]="!new_user_form.valid"
            type="submit"
            class="btn btn-primary btn-sm">
            Create User
          </button>
        </div>
      </form>
      <p class="submit-error" *ngIf="show_create_user_error">*user already exists</p>
      <p class="submit-success" *ngIf="show_create_user_success">*user created</p>
    </menu-item>
    
    <!-- role => 3 to delete users (super admin) -->
    <menu-item *ngIf="current_user.role >= 3" title="Delete User">
      <form [formGroup]="delete_user_form"
            (ngSubmit)="delete_user_form.valid && open_modal('delete')"
            (click)="delete_user_clear_msg()">
        <div class="form-group">
          <label>Username</label>
          <select formControlName="username" class="form-select" aria-label="Default select example">
            <option disabled selected value> -- select user -- </option>
            <option *ngFor="let user of all_users; index as i;">{{user.username}}</option>
          </select>
          <button
            [disabled]="!delete_user_form.valid"
            type="submit"
            class="btn btn-danger btn-sm">
            DELETE
          </button>
        </div>
      </form>
      <p class="submit-success" *ngIf="show_delete_user_success">*user deleted</p>
    </menu-item>

    <menu-item title="User Permissions">
      <form [formGroup]="permission_form" (ngSubmit)="permission_form.valid && update_user_permissions()">

        <label>Username</label>
        <select formControlName="username" class="form-select" aria-label="Default select example">
          <option disabled selected value> -- select user -- </option>
          <option *ngFor="let user of all_users; index as i;" [ngValue]="user.username">{{user.username}}</option>
        </select>
        
        <label>Role</label>
        <select formControlName="role" class="form-select" aria-label="Default select example">
          <option disabled selected value> -- select role -- </option>
          <option [ngValue]="0" >User</option>
          <option [ngValue]="1">Group Assistant</option>
          <option [ngValue]="2" *ngIf="current_user.role >= 3">Group Admin</option>
          <option [ngValue]="3" *ngIf="current_user.role >= 3">Super Admin</option>
        </select>
        
        <!-- I promise I will remove this -->
        <ng-container style="margin-top: 10px;" *ngIf="permission_form.value.role == 1 || permission_form.value.role == 2">
          <label>Group</label>
          <select formControlName="group" class="form-select" aria-label="Default select example">
            <option disabled selected value> -- select group -- </option>
            <option *ngFor="let group_name of group_names;">{{group_name}}</option>
          </select>
        </ng-container>
        <!------------------------------------>
        <button
        [disabled]="!permission_form.valid"
        type="submit"
        class="btn btn-secondary btn-sm">
        Update
        </button>
      </form>
    </menu-item>
  </div>
</div>

<!-- Create user modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':create_user_displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      
      <div class="modal-header">
        Create User
      </div>

      <form>
        <div class="modal-body">
          <div>
            <p>Username: {{new_user_form.value.username}}</p>
            <p>Email: {{new_user_form.value.email}}</p>
            <p>Password: {{new_user_form.value.password}}</p>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" (click)="close_modal('create')">Cancel</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="create_user()">Confirm</button>
        </div>
      </form>

    </div>
  </div>
</div>

<!-- Delete user modal -->
<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':delete_user_displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        Create User
      </div>

      <form>
        <div class="modal-body">
          <div>
            <p>Username: {{new_user_form.value.username}}</p>
            <p>Email: {{new_user_form.value.email}}</p>
            <p>Password: {{new_user_form.value.password}}</p>
          </div>
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-sm" (click)="close_modal('delete')">Cancel</button>
          <button type="button" class="btn btn-primary btn-sm" (click)="delete_user()">Confirm</button>
        </div>
      </form>

    </div>
  </div>
</div>
