<div class="chat-root">

  <div class="chat-title">
    <h2>{{channel_name}}</h2>
  </div>

  <div class="chat-window" id="chat-window">
    <div *ngFor="let msg of current_channel?.messages;">
      
      <div class="non-user-message" *ngIf="msg.sender != current_user.username">
        <div class="message-content">
          <p *ngIf="msg.type == 'text';">{{msg.content}}</p>
          <img *ngIf="msg.type == 'image';" src={{msg.content}}>
        </div>
        <div class="message-footer">
          <img class="profile-photo" *ngIf="current_group_images[msg.sender]?.image" src={{current_group_images[msg.sender].image}}>
          <img class="profile-photo" *ngIf="!current_group_images[msg.sender]?.image" src="../../assets/ppic.jpg">
          <p>{{msg.sender}}</p>
        </div>
      </div>
      
      <div class="user-message" *ngIf="msg.sender == current_user.username">
        <div class="message-content">
          <p *ngIf="msg.type == 'text';">{{msg.content}}</p>
          <img *ngIf="msg.type == 'image';" src={{msg.content}}>
        </div>
        <div class="message-footer">
          <p>{{msg.sender}}</p>
          <img class="profile-photo" *ngIf="current_group_images[msg.sender]?.image" src={{current_group_images[msg.sender].image}}>
          <img class="profile-photo" *ngIf="!current_group_images[msg.sender]?.image" src="../../assets/ppic.jpg">
        </div>
      </div>
      
    </div>
  </div>

  <div class="text-field">
    <form style="min-width: 100%; padding: 0px; margin: 0px;" [formGroup]="message_form" (ngSubmit)="message_form.valid && send_message()">
    <div class="form-group">
      <textarea id="chattext"
        style="min-width: 100%;"
        (keydown.enter)="send_message(); false;"
        formControlName="message_content"
        class="form-control">
      </textarea>
    </div>
  </form>

  <div style="display: flex; justify-content:space-between; align-items: center;">

    <input type="file" id="input-file" name="file" style="display: none" (change)="change_image($event)">

    <div style="display: flex; align-items: center;">
      <button onclick="document.querySelector('#input-file').click()" style="padding: 0px; margin: 5px; width: 100px;" class="btn btn-primary"><i class="fa-regular fa-image"></i></button>
      <p *ngIf="image_selected;" style="padding: 0px; margin: 0px;">{{image_name}}</p>
    </div>

    <button (click)="upload_image();" style="padding: 0px; margin: 5px; width: 100px;" class="btn btn-primary">send</button>

  </div>

  </div>
  
</div>


