<div class="chat-root">

  <div class="chat-title">
    <h2>{{channel_name}}</h2>
  </div>

  <div class="chat-window" id="chat-window">
    <div *ngFor="let msg of current_channel?.messages;">
      
      <div class="non-user-message" *ngIf="msg.sender != current_user.username">
        <div class="message-content">
          <p>{{msg.content}}</p>
        </div>
        <div class="message-footer">
          <img class="profile-photo" src={{current_group_images[msg.sender].image}}>
          <p>{{msg.sender}}</p>
        </div>
      </div>
      
      <div class="user-message" *ngIf="msg.sender == current_user.username">
        <div class="message-content">
          <p>{{msg.content}}</p>
        </div>
        <div class="message-footer">
          <p>{{msg.sender}}</p>
          <img class="profile-photo" src={{current_user.profile_photo.image}}>
        </div>
      </div>
      
    </div>
  </div>

  <div class="text-field">
    <textarea [(ngModel)]="message" class="form-control" aria-label="With textarea"></textarea>
  </div>
  
</div>