
.root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;

  border-width: 1px 1px 1px 1px;
  border-color: var(--border-color);
  border-style: solid;
}

.groups {
  resize: horizontal;
  display: flex;
  flex-direction: column;
  height: 100%;
  
  background-color: var(--background-tertiary);
  border-width: 0px 1px 1px 1px;
  border-color: var(--border-color);
  border-style: solid;

}


.channels-root {
  width: fit-content;

  background-color: var(--background-secondary);

  
  .group-name {
    padding-left: 10px;
    min-height: var(--chat-header-height);
    max-height: var(--chat-header-height);

    p {
      font-size: 22px;
    }
    
  }

  .channels {
    padding-left: 10px;
    padding-right: 10px;
    border-width: 1px 0px 0px 0px;
    border-color: var(--border-color);
    border-style: solid;
  }

}


.chat-root {
  flex: 5;
  height: 100%;
  background-color: var(--background-secondary);
  border-width: 0 0 0 1px;
  border-color: var(--border-color);
  border-style: solid;

  display: flex;
  flex-direction: column;

  .chat-title {

    min-height: var(--chat-header-height);
    max-height: var(--chat-header-height);

    border-width: 0 0 1px 0;
    border-color: var(--border-color);
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-window {
    flex: 15;
    
    width: 100%;
    background-color: var(--background-primary);

    display: flex;
    flex-direction: column-reverse;

    overflow-y: auto;

    padding-bottom: 30px;
  }
  
  .text-field {
    flex: 2;
    textarea {
      flex: 3;
      resize: none;
    }

    display: flex;
  }
}

.non-user-message {
  padding-top: 5px;
  margin-left: 5px;
  max-width: fit-content;
  display: flex;
  flex-direction: column;

  .message-content {
    p {
      background-color: gray;
      padding: 10px;
      border-radius: 10px;
      margin: 0;
    }
  }

  p {
    margin: 0 0 0 10px;
  }

}

.user-message {
  padding-top: 5px;
  margin-right: 5px;
  margin-left: 30%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .message-content {
    p {
      background-color: cadetblue;
      padding: 10px;
      border-radius: 10px;
      margin: 0;
    }
  }

  p {
    margin: 0 10px 0 0;
  }
}

.message-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-photo {
  width: 32px;
  height: 32px;
  margin: 5px 0 0 0;
  border-radius: 32px;
}