
.root {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 90vh;
}

.groups {
  resize: horizontal;
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
  
  background-color: rgb(240, 240, 240);
  border-width: 1px 0px 1px 1px;
  border-color: rgb(210, 210, 210);
  border-style: solid;

  .username {
    // background-color:dimgray;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-bottom: 15px;
  }

}

.chat-root {
  flex: 5;
  height: 100%;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-color: rgb(210, 210, 210);
  border-style: solid;

  display: flex;
  flex-direction: column;

  .chat-title {
    flex: 1;

    border: 0px 0px 0px 0px;
    border-width: 1px;
    border-color: rgb(210, 210, 210);
    border-style: solid;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat-window {
    flex: 15;
    
    width: 100%;
    background-color: rgb(255, 255, 255);

    display: flex;
    flex-direction: column;

    overflow-y: auto;
  }
  
  .text-field {
    flex: 2;
    textarea {
      flex: 3;
      resize: none;
    }

    display: flex;
  }


}


p {
  margin-left: 10px;
}

.non-user-message {
  margin-right: 50%;
  .message-content {
    background-color: gray;
    padding: 10px;
    border-radius: 0 25px 0 0;
  }
  .message-footer {
    background-color: rgb(235, 235, 235);
    padding: 0 10px 0 0;
    border-radius: 0 0 25px 0;
    text-align: right;
  }
}

.user-message {
  margin-left: 50%;
  .message-content {
    background-color: cadetblue;
    padding: 10px;
    border-radius: 25px 0 0 0;
  }
  .message-footer {
    background-color: rgb(235, 235, 235);
    padding: 0 0 0 0;
    border-radius: 0 0 0 25px;
    justify-content: right;
  }
}
