<div class="root">

  <div class="groups">
    <groupbutton group_name="{{group.name}}" (click)="open_group(group.name)" *ngFor="let group of groups;"></groupbutton>
  </div>

  <div class="channels-root">

    <div class="group-name">
      <p>{{current_group.name}}</p>
      <a
        *ngIf="current_user.role > 0"
        class="btn add-channel"
        (click)="nav_to_group_settings()"
        data-toggle="tooltip"
        data-placement="right"
        title="Group Settings"
      ><i class="fa-solid fa-gear"></i></a>
      
    </div>

    <div class="channels">
      <channelbutton name="{{channel.name}}" (click)="nav_to_channel(channel.name)" *ngFor="let channel of this.current_group.channels"></channelbutton>
    </div>
  </div>

  <div class="right-panel">
    <router-outlet></router-outlet>
  </div>

</div>
