<div class="root">

  <div class="groups">
    <groupbutton *ngFor="let group of all_groups;" group_name="{{group?.name}}" group_image="{{group?.image}}" id={{group?.name}} (click)="open_group(group)"></groupbutton>
  </div>

  <div class="channels-root">

    <div class="group-name">
      <p>{{current_group?.name}}</p>
      <!-- Permission level must be at least 1 (group assistant) to open admin panel -->
      <a
        id="groupsettings"
        *ngIf="permissionlevel >= 1 && admin_panel_open == false;"
        class="btn add-channel"
        (click)="open_admin_panel()"
        data-toggle="tooltip"
        data-placement="right"
      ><i class="fa-solid fa-gear"></i></a>
      <a
      id="groupsettings_exit"
      *ngIf="permissionlevel >= 1 && admin_panel_open == true;"
      class="btn add-channel"
      (click)="close_admin_panel(); retrieve_group_data();"
      data-toggle="tooltip"
      data-placement="right"
      ><i class="fa-solid fa-arrow-left-long"></i></a>
    
    </div>

    <div class="channels">
      <channelbutton *ngFor="let channel of this.current_group?.channels" name="{{channel?.name}}" (click)="open_channel(channel)"></channelbutton>
    </div>
  </div>

  <div class="right-panel">
    <router-outlet></router-outlet>
  </div>

</div>
