<div class="root">


  <div class="groups">

    <div class="username">
      <h2>{{current_user.username}}</h2>
    </div>
    <groupbutton (click)="open_group(group)" *ngFor="let group of groups; index as i">{{group.name}}</groupbutton>
  </div>


  <div class="chat-root">

    <div class="chat-title">
      <h2>{{current_group.name}}</h2>
    </div>

    <div class="chat-window" id="chat-window">
      <div *ngFor="let msg of current_group.messages; index as i;">

        <!-- PRIME CUSTOM COMPONENT CANDIDATE RIGHT HERE -->
        <div class="non-user-message" *ngIf="msg.sender != current_user.username">
          <div class="message-content">
            <p>{{msg.content}}</p>
          </div>
          <div class="profile-photo"></div>
          <p>{{msg.sender}}</p>
        </div>

        <div class="user-message" *ngIf="msg.sender == current_user.username">
          <div class="message-content">
            <p>{{msg.content}}</p>
          </div>
          <div class="profile-photo"></div>
          <p>you</p>
        </div>

        <!------------------------------------------------->
      
      </div>
    </div>

    <div class="text-field">
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    
  </div>

</div>
