
form {
  max-width: 70%;
}

.success {
  padding-top: 5px;
  font-size: 12px;
  color: blue;
}

.account-details {
  display: flex;
}

.editable {
  flex: 1;
}

.static {
  flex: 1;
}


.profile-photo {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  
  img {
    width: 128px;
    height: 128px;
    border-radius: 50px;
  }
}

.upload-btn {
  height: fit-content;
  i {
    color: rgb(255, 255, 255);
  }
}
