<div class="submenu-root">
  <div class="submenu-title">
    <h2>Account</h2>
  </div>

  <div class="submenu-content">

    <menu-item title="Create User">
      <form [formGroup]="update_user_form"
            (ngSubmit)="update_user_form.valid && update_user_credentials()"
            (click)="update_user_clear_msg()">

        <div class="form-group">

          <label>Email Address</label>
          <input formControlName="email" class="form-control" placeholder="{{user.email}}">
          
          <label>Password</label>
          <input formControlName="password" class="form-control">
          
          <button
            [disabled]="!update_user_form.valid"
            type="submit"
            class="btn btn-primary btn-sm">
            Update
          </button>
        </div>
      </form>
      <p class="submit-error" *ngIf="show_update_user_error">*user already exists</p>
      <p class="submit-success" *ngIf="show_update_user_success">*user created</p>
    </menu-item>

    <menu-item title="Profile">
      <menu-subitem title="Profile Photo">
        <img [src]="image">

        <input style="display: none;" type="file" name="file" id="file" (change)="on_image_select($event)" />
        <button onclick="document.querySelector('#file').click()" style="width: 200px;" class="btn btn-primary"><i class="fa-regular fa-image"></i></button>
        <a *ngIf="image_selected" class="btn btn-primary btn-sm" (click)="upload_image()">
          Upload
          &nbsp;
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </a>
      </menu-subitem>
    </menu-item>
  </div>
</div>
