
$profile-photo-size: 200px;

.success {
  padding-top: 5px;
  font-size: 12px;
  color: blue;
}

.account-details {
  display: flex;
}

.id-role{
  display: flex;
  justify-content:space-between;
  margin-bottom: 10px;  
}

img {
  width: $profile-photo-size;
  height: $profile-photo-size;
  border-radius: 50px;
  margin-bottom: 10px;
}

p {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

a {
  width: $profile-photo-size !important;
  i {
    color: white;
  }
}