<div class="submenu-root">
  
  <div class="submenu-title">
    <h3>{{group_name}} Admin Panel</h3>
  </div>

  <div class="submenu-content">

    <menu-item title="Users">
      <menu-subitem title="Add User">

        <form [formGroup]="add_user_to_channel_form" (ngSubmit)="add_user_to_channel_form.valid && add_user_to_channel()">
          <div class="form-group">
            <div class="inline">
              <p>Add:</p>
              <select formControlName="username" class="form-select" aria-label="Default select example">
                <option disabled selected value> -- select user -- </option>
                <option *ngFor="let user of users;">{{user.username}}</option>
              </select>
              <p >To:</p>
              <select formControlName="channel_name" class="form-select" aria-label="Default select example">
                <option disabled selected value> -- select channel -- </option>
                <option>Group only</option>
                <option>All channels</option>
                <option *ngFor="let channel of channels;">{{channel.name}}</option>
              </select>
              <button [disabled]="!add_user_to_channel_form.valid" type="submit" class="btn btn-primary btn-sm">Add</button>
            </div>

          </div>
        </form>

      </menu-subitem>

      <menu-subitem title="Remove User">
        <form [formGroup]="remove_user_from_channel_form" (ngSubmit)="remove_user_from_channel_form.valid && remove_user_from_channel()">
          <div class="form-group">
            <div class="inline">
              <p>Remove:</p>
              <select formControlName="username" class="form-select" aria-label="Default select example">
                <option disabled selected value> -- select user -- </option>
                <option *ngFor="let user of users;">{{user.username}}</option>
              </select>
              <p>From:</p>
              <select formControlName="channel_name" class="form-select" aria-label="Default select example">
                <option disabled selected value> -- select channel -- </option>
                <option>All channels</option>
                <option *ngFor="let channel of channels;">{{channel.name}}</option>
              </select>
              <button [disabled]="!remove_user_from_channel_form.valid" type="submit" class="btn btn-danger btn-sm">Remove</button>
            </div>
          </div>
        </form>
      </menu-subitem>
      
      <!-- Must be group admin to remove users from group (role >= 2) -->
      <menu-subitem *ngIf="current_role >= 2" title="Remove User from Group">
        <form [formGroup]="remove_user_from_group_form" (ngSubmit)="remove_user_from_group_form.valid && remove_user_from_group()">
          <div class="form-group">
            <div class="inline">
              <p>Remove: </p>
            <select formControlName="username" class="form-select" aria-label="Default select example">
              <option disabled selected value> -- select user -- </option>
              <option *ngFor="let user of users;">{{user.username}}</option>
            </select>
            <button
              [disabled]="!remove_user_from_group_form.valid"
              type="submit"
              class="btn btn-danger btn-sm">
              Remove
            </button>
          </div>
        </div>
        </form>
      </menu-subitem>
    </menu-item>

    <menu-item title="Channels">
      <menu-subitem title="Create Channel">
    
        <form [formGroup]="create_channel_form" (ngSubmit)="create_channel_form.valid && create_channel()">
          <div class="form-group">
            <input formControlName="channel_name" class="form-control" placeholder="Channel Name">
            <button
              [disabled]="!create_channel_form.valid"
              type="submit"
              class="btn btn-primary btn-sm">
              Create Channel
            </button>
          </div>
        </form>

      </menu-subitem>

      <menu-subitem title="Delete Channel">
        <form [formGroup]="delete_channel_form" (ngSubmit)="delete_channel_form.valid && delete_channel()">
          <div class="form-group">
            <select formControlName="channel_name" class="form-select" aria-label="Default select example">
              <option disabled selected value> -- select channel -- </option>
              <option *ngFor="let channel of channels;">{{channel.name}}</option>
            </select>
            <button
              [disabled]="!delete_channel_form.valid"
              type="submit"
              class="btn btn-danger btn-sm">
              Delete
            </button>
          </div>
        </form>
      </menu-subitem>
    </menu-item>

  </div>
</div>
