<div class="submenu-root">

  <div class="submenu-title">
    <h2>Preferences</h2>
  </div>

  <div class="submenu-content">

    <menu-item title="Theme">
      <menu-subitem>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{current_theme}}
          </button>
          <ul class="dropdown-menu">
            <li><a (click)="set_theme('light')" class="btn">Light</a></li>
            <li><a (click)="set_theme('dark')" class="btn">Dark</a></li>
          </ul>
        </div>
      </menu-subitem>
    </menu-item>

    <menu-item title="Video Quality">
      <menu-subitem>
        <select class="form-select" aria-label="Default select example">
          <option>480p @20fps</option>
          <option>720p @30fps</option>
          <option>1080p @30fps</option>
          <option>1080p @60fps</option>
        </select>
      </menu-subitem>

      <menu-subitem title="Preview">
        
        <div class="video-chat-item">
          <video *ngFor="let stream of video_streams;" [srcObject]=stream.stream [muted]=stream.muted autoplay></video>

        </div>

      </menu-subitem>
    </menu-item>

  </div>

</div>