<div class="page-title">
  <h2>Groups</h2>
</div>

<div class="submenu-root"> 
  
  <menu-item title="Create Group">
    <form>
      <div class="form-group">
        <label>Group Name</label>
        <input class="form-control">

        <button
          type="submit"
          class="btn btn-primary">
          Create Group
        </button>
      </div>
    </form> 
  </menu-item>

  <menu-item title="Delete Group">
    <label>Group Name</label>
    <select class="form-select" aria-label="Default select example">
      <option>Not yet functional</option>
      <option>Not yet functional</option>
      <option>Not yet functional</option>
      <option>Not yet functional</option>
      <!-- <option *ngFor="let user of usernames; index as i;" value="{{user_ids[i]}}">{{usernames[i]}}</option> -->
    </select>
    <button class="btn btn-secondary">DELETE</button><br><br>
  </menu-item>

</div>