<div class="submenu-root">
  <div class="submenu-title">
    <h2>Groups</h2>
  </div>

  <div class="submenu-content"> 
    
    <menu-item title="Create Group">
      <form [formGroup]="create_group_form"
            (ngSubmit)="create_group_form.valid && create_group()"
            (click)="create_group_clear_msg()">
        <div class="form-group">
          <label>Group Name</label>
          <input id="groupname" formControlName="group_name" class="form-control">
          <button id="creategroup"
            [disabled]="!create_group_form.valid"
            type="submit"
            class="btn btn-primary btn-sm">
            Create Group
          </button>
        </div>
      </form>
      <p class="submit-error" *ngIf="show_create_group_error">*group already exists</p>
      <p class="submit-success" *ngIf="show_create_group_success">*group created</p>
    </menu-item>

    <menu-item title="Delete Group">
      <form [formGroup]="delete_group_form"
            (ngSubmit)="delete_group_form.valid && delete_group()"
            (click)="delete_group_clear_msg()">
        <div class="form-group">
          <label>Group Name</label>
          <select formControlName="group_name" class="form-select" aria-label="Default select example">
            <option disabled selected value> -- select group -- </option>
            <option *ngFor="let group_name of all_group_names">{{group_name}}</option>
          </select>
          <button
            [disabled]="!delete_group_form.valid"
            type="submit"
            class="btn btn-danger btn-sm">
            DELETE
          </button>
        </div>
      </form>
      <p class="submit-success" *ngIf="show_delete_group_success">*group deleted</p>
    </menu-item>

  </div>

</div>