.root {
  display: flex;
  flex-direction: column;

  height: 100%;
}

nav {
  background-color: var(--background-primary);
  z-index: 2;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  height: var(--navbar-height);
}

.outlet {
  margin-top: var(--navbar-height);
  flex: 1;
}

.navbar-brand {
  color: var(--bold-text-color);
}