<div class="root {{theme}}">

    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand">Chat-App</a>
        <div *ngIf="logged_in == true;" class="navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li><a class="nav-link" routerLink="/login">Login</a></li> -->
            <li><a class="nav-link" routerLink="/chat">Chat</a></li>
            <li><a class="nav-link" routerLink="/settings">Settings</a></li>
            <li *ngIf="current_user.role >= 2"><a class="nav-link" routerLink="/adminpanel">Admin Panel</a></li>
            
          </ul>
          <button (click)="logout()" type="button" class="btn btn-primary">logout</button>
        </div>
      </div>
    </nav>
    
  <div class="outlet">
    <router-outlet></router-outlet>
  </div>
  
</div>