div {
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.placeholder-img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: blue;
}

a {
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}