div {
  padding: 5px;
  display: flex;
}

a {
  img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
  }
}

a {
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

a:hover {
  overflow: visible;
  white-space: normal;
  display: inline-block;
  z-index: 1;
}




.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}