/* You can add global styles to this file, and also import other style files */

// Bootstrap variable overrides
//----------------------------------------------
$input-bg: var(--background-kindergarten);
$input-color: var(--normal-text-color);
$input-border-color: var(--border-color);
@import "node_modules/bootstrap/scss/bootstrap";
//----------------------------------------------

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgb(54, 57, 63);
}

:root {
  --form-width: 400px;
  --navbar-height: 50px;
  --chat-header-height: 40px;

  --btn-primary: rgb(94, 186, 125);
  --btn-secondary: rgb(204, 53, 53);

  .light {
    --light-text-color: rgb(100, 100, 100);
    --normal-text-color: rgb(46, 46, 46);
    --bold-text-color: rgb(20, 20, 20);
    --border-color: rgb(200, 200, 200);

    --background-kindergarten: rgb(255, 255, 255); // lol
    --background-primary: rgb(248, 249, 250);
    --background-secondary: rgb(238, 239, 240);
    --background-tertiary: rgb(228, 229, 230);

    --non-user-message-bg: rgb(225, 225, 225);
    --user-message-bg: rgb(115, 178, 180);

    --shadow-color: rgb(155, 155, 155);

    --success: rgb(0, 0, 200);
  }

  .dark {
    --light-text-color: rgb(180, 180, 180);
    --normal-text-color: rgb(220, 220, 220);
    --bold-text-color: rgb(255, 255, 255);
    --border-color: rgb(40, 40, 40);

    --background-kindergarten: rgb(64, 68, 75); // lol
    --background-primary: rgb(54, 57, 63);
    --background-secondary: rgb(47, 49, 54);
    --background-tertiary: rgb(32, 34, 37);

    --non-user-message-bg: rgb(100, 100, 100);
    --user-message-bg: rgb(95, 158, 160);

    --shadow-color: rgb(25, 25, 25);

    --success: rgb(14, 214, 64);
  }

}

.modal-header {
  background-color: var(--background-secondary);
  color: var(--bold-text-color);
}

.modal-body, .modal-dialog, .modal-content {
  background-color: var(--background-tertiary);
}


.submit-error {
  padding-top: 5px;
  font-size: 12px;
  color: red;
}

.submit-success {
  padding-top: 5px;
  font-size: 12px;
  color: var(--success);
}

.message-bar {
  background-color: var(--background-tertiary);
  border-radius: 5px;
  min-height: 10px;
}

nav {
  background-color: var(--background-primary);
}

.nav-link {
  color: var(--light-text-color);
}

h2, h3, .nav-link:focus, .nav-link:hover {
  color: var(--bold-text-color);
}

h4, p {
  color: var(--normal-text-color);
}

.right-panel {
  background-color: var(--background-primary);
  height: 100%;
}

.submenu-root {
  background-color: var(--background-primary);
  height: calc(100% - var(--navbar-height));
  .submenu-title {
    height: var(--chat-header-height);
    padding-left: 10px;
    box-shadow: 0 1px 5px -2px var(--shadow-color);
  }

  .submenu-content {
    padding: 10px;
    height: 100%;
    overflow-y: scroll;
  }
}


menu-item {
  // height: fit-content;
  padding-bottom: 10px;
}

menu-subitem {
  padding-bottom: 10px;
  input, select, button {
    margin-bottom: 10px;
    // min-width: var(--form-width);
    max-width: var(--form-width);
  }
}


form {
  max-width: var(--form-width);
  button {
    margin-top: 10px;
  }
  padding-bottom: 10px;
}
select {
  max-width: var(--form-width);

}

label {
  color: var(--normal-text-color);
}

.submit-success {
  margin-top: 5px;
  font-size: 12px;
  p {
    color: var(--success);
  }
}

i, a {
  color: var(--normal-text-color);
}

.inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;

  p {
    margin-right: 20px;
  }

  select {
    margin-right: 20px;
    width: auto;
  }

  .button {
    margin-left: auto;
  }
}