/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

:root {

  .light {
    --light-text-color: rgb(100, 100, 100);
    --normal-text-color: rgb(46, 46, 46);
    --bold-text-color: rgb(20, 20, 20);
    --border-color: rgb(220, 220, 220);

    --background-kindergarten: rgb(255, 255, 255); // lol
    --background-primary: rgb(248, 249, 250);
    --background-secondary: rgb(238, 239, 240);
    --background-tertiary: rgb(228, 229, 230);

    --non-user-message-bg: rgb(225, 225, 225);
    --user-message-bg: rgb(115, 178, 180);

    --shadow-color: rgb(155, 155, 155);
  }

  .dark {
    --light-text-color: rgb(180, 180, 180);
    --normal-text-color: rgb(220, 220, 220);
    --bold-text-color: rgb(255, 255, 255);
    --border-color: rgb(35, 35, 35);

    --background-kindergarten: rgb(64, 68, 75); // lol
    --background-primary: rgb(54, 57, 63);
    --background-secondary: rgb(47, 49, 54);
    --background-tertiary: rgb(32, 34, 37);

    --non-user-message-bg: rgb(100, 100, 100);
    --user-message-bg: rgb(95, 158, 160);

    --shadow-color: rgb(25, 25, 25);
  }

  --chat-header-height: 40px;
}

nav {
  background-color: var(--background-primary);
}

.nav-link {
  color: var(--light-text-color);
}

h2, h3, .nav-link:focus, .nav-link:hover {
  color: var(--bold-text-color);
}

h4, p {
  color: var(--normal-text-color);
}


.page-title {
  height: 50px;
  margin-bottom: 25px;
  padding-left: 10px;
  box-shadow: 0 1px 5px -2px var(--shadow-color);
}

