/* You can add global styles to this file, and also import other style files */

:root {
  .dark {
    --normal-text-color: rgb(220, 220, 220);
    --bold-text-color: rgb(255, 255, 255);
    --border-color: rgb(210, 210, 210);
  
    --background-primary: rgb(100, 100, 100);
    --background-secondary: rgb(1, 1, 1);
    --background-tertiary: rgb(1, 1, 1);

  }

  .light {
    --normal-text-color: rgb(46, 46, 46);
    --bold-text-color: rgb(20, 20, 20);
    --border-color: rgb(210, 210, 210);

    --background-primary: rgb(248, 249, 250);
    --background-secondary: rgb(238, 239, 240);
    --background-tertiary: rgb(228, 229, 230);
  }

  --chat-header-height: 40px;
}


nav {
  background-color: var(--background-primary);
}